body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background-color: #ffffff;
}

h1, h2 {
    color: #00008b;
}

.evenrow {
    background-color: #d3d3d3;
}


p {
    line-height: 1.6;
    color: #333;
}


nav {
    background-color: #1e3a8a; 
    padding: 10px;
    margin-bottom: 30px;
    text-align: center;
  }
  

  nav a {
    color: #ffffff; 
    text-decoration: none;
    font-weight: bold;
    margin: 0 8px;
  }
  
  nav a:hover {
    background-color: #60a5fa; 
    color: #1e3a8a; 
    padding: 5px;
    border-radius: 5px;
  }
  


/* lab 9 additions */

h1 {
    text-align: center;
}

.intro {
    text-align: center;
    max-width: 700px;
    margin: 0 auto 30px auto;
}

.skills-layout {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    padding: 20px;
}

.icons {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex: 3;
}

.skill {
    text-align: center;
}

.icons img {
    width: 150px;
    display: block;
    margin: 0 auto 10px auto;
}

.other-skills {
    flex: 1;
    background-color: #d0ffe1;
    border-radius: 10px;
    padding: 15px;
}

.other-skills h2 {
    text-align: center;
}

body {
    margin: 0;
    padding: 40px;
    font-family: Arial, sans-serif;
}

/* Lab 10 */

.primclass {
    max-width: 100%;
    height: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.column {
    flex: 1 1 300px;
    padding: 10px;
}


@media only screen and (max-width:768px) {
    nav a {
        display:block;
        width: 100%;
        padding: 10px 0;
        text-align: left;
    }

    nav span {
        display: none
    }
}